/* ==UserStyle==
@name           Twitch Sidebar DeClutter
@namespace      github.com/Mixter213
@version        1.0.0
@description    Removes the Stream description and sets the live status to hover only
@author         Mixter213
@preprocessor   stylus
==/UserStyle== */

@-moz-document domain("twitch.tv") {
    
    :root {
        --font-weight-semibold: 600;
    }
    

        .tw-image-avatar {
            border-radius: 4px !important;
        }

        .side-nav-card__metadata {
            display: none;
        }

        .side-nav-card__live-status {
            width: 0;
            min-width: unset;
        }
        
    .side-nav-card__link {

        &:hover {
            background: red;

            .side-nav-card__live-status {
                width: unset;
            }

        }

    }

}
